@charset "UTF-8";

/* Header */
.nornen_header_wrap{
    position: fixed;
    top: 0;
    width: 100%;
    height: 103px;
    background: url("../image/header/bar.png");
}

.nornen_header{
    margin: 0 auto;
    max-width: 1200px;
    min-width: 990px;
}

.logo{
    float: left;
    width: 35%;
    height: 100px;
    font-size: 100%;
}

.logo>a{
    float: left;
    width: 100%;
    height: 100px;
    display: block;
}

.logo>a>img{
    float: left;
    margin: 25px 8%;
    max-width: 60px;
    height: 50px;
}

.logo .title_wrap{
    float: left;
    margin: 25px 0;
    width: 64%;
    height: 50px;
}

.logo .title_wrap>.title{
    float: left;
    margin-top: 7px;
    font-size: 125%;
    color: #fff;
}

.logo .title_wrap>.title>.highlight{
    color: #feca6d;
}

.logo .title_wrap>.sub_title{
    float: left;
    font-size: 81.25%;
    color: #fff;
}

.nav_wrap{
    float: right;
    width: 65%;
}

.list_btn{ 
    display: none; 
}

.nav_wrap> menu{
    float: left;
    width: 100%;
}

.nav_wrap> menu> li{
    float: left;
    margin: 0 3%;
    text-align: center;
    height: 100px;
    line-height: 100px;
}

.nav_wrap> menu> li> a{
    color: #f3f3f3;
    font-size: 100%;
}

/* Footer */
.nornen_footer{
    width: 100%;
    height: 73px;
    background: url("../image/footer/bar.png");
    text-align: center;
}

.copyright{
    height: 73px;
    line-height: 73px;
}

.copyright>span{
    width: 100%;
    color: #fff;
    font-size: 75%;
}

/* Section */
.nornen_section_wrap{
    width: 100%;
}

.section_top{
    margin-top: 103px;
}

.background_darkblue{
    background: #34495e;
}

.background_skyblue{
    background: #85d6de;
}

.nornen_section{
    margin: 0 auto;
    max-width: 1200px;
    min-width: 990px;
    min-height: 500px;
}

.nornen_content_type01{
    width: 94%;
    padding: 0 3% 30px 3%;
}

.nornen_content_type01>header{
    padding: 30px 0 10px 0;
    width: 100%;
}

.nornen_content_type01>header>h2{
    color: #0d0e0e;
    font-size: 125%;
}

.nornen_content_type01>.content{
    
}

.nornen_content_type01>.content>p{
    font-size: 81.25%;
    width: 100%;
    text-align: justify;
    padding: 6px 0;
    line-height: 1.5;
}

.nornen_content_type03{
    width: 94%;
    padding: 40px 3%;
    min-height: 550px;
}

.nornen_content_type03>header{
    margin-bottom: 10px;
    padding: 30px 0 0 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.nornen_content_type03>header>h2{
    color: #34495e;
    font-size: 125%;
}

.nornen_content_type03>header>.bar{
    width: 80px;
    height: 3px;
    margin: 20px auto 0 auto;
}

.nornen_content_type03>.content{
    width: 96%;
    padding: 0 2%;
}

.nornen_content_type03>.content>li{
    float: left;
    width: 30%;
    padding: 0 1%;
    text-align: center;
}

.nornen_content_type03>.content>li>img{
    margin: 30px 0 20px 0;
}

.nornen_content_type03>.content>li>h3{
    color: #34495e;
    font-size: 100%;
}

.nornen_content_type03>.content>li>p{
    margin: 20px 10%;
    width: 80%;
    font-size: 87.5%;
    color: #3a5a79;
}

.nornen_content_type03>.list{
    width: 96%;
    padding: 0 2%;
    margin-top: 40px;
}

.nornen_content_type03>.list>li{
    width: 26%;
    padding: 25px 3%;
    height: 100px;
    float: left;
}

.nornen_content_type03>.list>li>h3{
    font-size: 100%;
    color: #34495e;
    margin-bottom: 15px;
}

.nornen_content_type03>.list>li>a{
    font-size: 87.5%;
    color: #bbbbbb;
}

.nornen_content_type03>.list>li>a:hover{
    color: #767676;
}


.nornen_content_type02{
    width: 94%;
    padding: 40px 3%;
    min-height: 550px;
}

.nornen_content_type02>header{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

.nornen_content_type02>header>h2{
    color: #34495e;
    font-size: 125%;
    margin-left: 15px;
}


.nornen_content_type02>.content{
    width: 100%;
}

.nornen_content_type02>.content>li{
    float: left;
    width: 40%;
    padding: 20px 2%;
}

.nornen_content_type02>.content>li>h3{
    font-weight: normal;
    color: #4e4e4e;
    font-size: 93.75%;
}

.nornen_content_type02>.content>li>.image{
    width: 98%;
    max-width: 320px;
    margin: 10px 1%;
}

.nornen_content_type02>.content>li>.image>img {
    width: 100%;
}

.nornen_content_type02>.content>li>.image>video{
    width: 100%;
    display: none;
    background: #000;
    border-radius: 10px;
}

.nornen_content_type02>.content>li>h3>a{
    color: #7f7f7f;
}

.nornen_content_type02>.content>li>h3>a:hover{
    color: #4e4e4e;
}

.nornen_content_type02>.content .link{
    text-align: center;
    width: 100%;
    max-width: 320px;
}

.nornen_content_type02>.content .link>a{
    font-size: 87.5%;
    color: #34495e;
}

.nornen_content_type02>.content .link>a:hover{
    color: #0d0e0e;
}

.nornen_content_type015{
    width: 94%;
    padding: 40px 3%;
    min-height: 850px;
}

.nornen_content_type015>header{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

.nornen_content_type015>header>h2{
    color: #34495e;
    font-size: 125%;
    margin-left: 15px;
}


.nornen_content_type015>.left{
    width: 51%;
    margin: 30px 2% 30px 1%;
    float: left;
}

.nornen_content_type015>.left>canvas{
    border: 1px solid #bbbbbb;
    max-width: 512px;
    height: 512px;
    width: 100%;
}

.nornen_content_type015 .selector{
    width: 100%;
    margin-top: 20px;
    min-height: 70px;
}

.nornen_content_type015 .selector>li{
    float: left;
    width: 50%;
}

.nornen_content_type015 .selector>li>h3{
    font-size: 87.5%;
    color: #1a1a1a;
}

.nornen_content_type015 .selector>li>h3>img{
    width: 21px;
    height: 21px;
    float: left;
    margin-right: 8px;
}

.nornen_content_type015 .selector>li>h3>span{
    float: left;
    height: 21px;
    line-height: 23px;
}

.nornen_content_type015 .selector>li>.list{
    float: left;
    padding: 10px 3%;
    width: 94%;
}

.nornen_content_type015 .selector>li>.list>a{
    color: #cccccc;
    cursor: pointer;
    font-size: 81.25%;
    padding: 0 5%;
}

.nornen_content_type015 .selector>li>.list>a.active{
    color: #34495e;
}

.nornen_content_type015 .selector>li>.list>a:hover{
    color: #34495e;
}

.nornen_content_type015 .slider{
    width: 78%;
    border: 1px solid #e6ecec;
    height: 36px;
    margin: 10px 20% 10px 0;
}

.nornen_content_type015 .slider>.bg{
    width: 30%;
    background: url("../image/slider.png") repeat-x;
    height: 37px;
}

.nornen_content_type015 .slider>.bg>.title{
    width: 200px;
}

.nornen_content_type015 .slider>.bg>.title>img{
    margin: 8px 5px;
    float: left;
}

.nornen_content_type015 .slider>.bg>.title>span{
    font-size: 75%;
    color: #34495e;
    line-height: 36px;
}

.nornen_content_type015>.right{
    width: 43%;
    margin: 30px 1% 30px 2%;
    float: left;
}

.nornen_content_type015>.right>li{
    width: 100%;
    margin-bottom: 20px;
}

.nornen_content_type015>.right>li:nth-child(2){
    margin-top: 40px;
}

.nornen_content_type015>.right>li>div{
    width: 80%;
    height: 250px;
}

.nornen_content_type015>.right>li>span{
    font-size: 75%;
    color: #34495e;
}