/* Header */
.nornen_header_wrap{
    position: fixed;
    top: 0;
    width: 100%;
    height: 103px;
    background: url("../image/header/bar.png");
    z-index: 999;
}

.nornen_header{
    margin: 0 auto;
    max-width: 720px;
    min-width: 490px;
}

.logo{
    float: left;
    width: 70%;
    height: 100px;
    font-size: 100%;
}

.logo>a{
    float: left;
    width: 100%;
    height: 100px;
    display: block;
}

.logo>a>img{
    float: left;
    margin: 25px 8%;
    max-width: 60px;
    width: 20%;
    height: 50px;
}

.logo .title_wrap{
    float: left;
    margin: 25px 0;
    width: 64%;
    height: 50px;
}

.logo .title_wrap>.title{
    float: left;
    margin-top: 7px;
    font-size: 125%;
    color: #fff;
    width: 100%;
}

.logo .title_wrap>.title>.highlight{
    color: #feca6d;
}

.logo .title_wrap>.sub_title{
    float: left;
    font-size: 81.25%;
    color: #fff;
    width: 100%;
}


.nav_wrap{
    float: right;
    width: 30%;
    height: 100px;
    line-height: 100px;
}

.list_btn{
    cursor: pointer;
    text-indent: -9999px;
    width: 35px;
    height: 35px;
    background: url("../image/header/list_btn.png");
    margin-left: 50%;
}

.nav_wrap> menu{
    float: left;
    width: 100%;
    background: #34495e;
    margin-left: 100%;
}

.nav_wrap> menu> li:first-child{
    margin-top: -3px;
    border-top: 3px solid #fff;
    background: #85d6de;
    border-radius : 5px 0 0 0 ;
}

.nav_wrap> menu> li{
    float: left;
    text-align: left;
    height: 20px;
    line-height: 20px;
    width: 84%;
    padding: 10px 8%;
}

.nav_wrap> menu> li> a{
    color: #f3f3f3;
    font-size: 87.5%;
}

/* Footer */
.nornen_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #34495e;
    border-top: 2px solid #bbbbbb;
    text-align: center;
}

.copyright{
    height: 30px;
    line-height: 30px;
}

.copyright>span{
    width: 100%;
    color: #fff;
    font-size: 67.5%;
}

/* Section */
.nornen_section_wrap{
    width: 100%;
}

.section_top{
    margin-top: 103px;
}

.background_darkblue{
    background: #34495e;
}

.background_skyblue{
    background: #85d6de;
}

.nornen_section{
    min-height: 500px;
    max-width: 720px;
    min-width: 490px;
}

.nornen_content_type01{
    width: 96%;
    padding: 20px 2%;
}

.nornen_content_type01>header{
    padding: 10px 0;
    width: 100%;
}

.nornen_content_type01>header>h2{
    color: #0d0e0e;
    font-size: 125%;
}

.nornen_content_type01>.content{

}

.nornen_content_type01>.content>p{
    font-size: 81.25%;
    width: 100%;
    text-align: justify;
    padding: 6px 0;
    line-height: 1.5;
}

/**Get started **/
.nornen_content_type01>.content>p.command{
    padding: 10px 1%;
    width: 98%;
    margin: 3px 0 5px;
    background: #f5f7fa;
}
.nornen_content_type01>.content>p.command>label{
    color: #4e4e4e;
    font-size: 67.5%;
}

.nornen_content_type01>.content>p.command>span.text{
    margin-left: 7px;
    font-weight: bold;
}

.nornen_content_type01>.content>p.command span.sudo{
    color: #dc3912;
}

.nornen_content_type01>.content>p.command span.emphasize{
    color: #115293;
}

.nornen_content_type01>.content a.link{
    font-weight: bold;
    color: #767676;
}

.nornen_content_type01>.content a.link:hover{
    color: #4e4e4e;
}

.nornen_content_type01>.content a.download{
    color: #ff9900;
}

.nornen_content_type01>.content a.download:hover{
    color: #e87722;
}

.nornen_content_type01>.content span.head{
    color: #4e4e4e;
    font-weight: bold;
}

.nornen_content_type01>.content span.content{
    color: #0d0e0e;
    font-weight: bold;
}

.nornen_content_type01>.content img{
    max-width: 490px; width: 100%;
}


/* nornen_content_type03 */

.nornen_content_type03{
    width: 94%;
    padding: 40px 3%;
    min-height: 550px;
}

.nornen_content_type03>header{
    margin-bottom: 10px;
    padding: 30px 0 0 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.nornen_content_type03>header>h2{
    color: #34495e;
    font-size: 125%;
}

.nornen_content_type03>header>.bar{
    width: 80px;
    height: 3px;
    background: #34495e;
    margin: 20px auto 0 auto;
}

.nornen_content_type03>.content{
    width: 96%;
    padding: 0 2%;
}

.nornen_content_type03>.content>li{
    width: 98%;
    padding: 0 1%;
    text-align: center;
}

.nornen_content_type03>.content>li>img{
    margin: 30px 0 20px 0;
}

.nornen_content_type03>.content>li>h3{
    color: #34495e;
    font-size: 100%;
}

.nornen_content_type03>.content>li>p{
    margin: 20px 10%;
    width: 80%;
    font-size: 87.5%;
    color: #3a5a79;
}

.nornen_content_type03>.list{
    width: 96%;
    padding: 0 2%;
    margin-top: 40px;
}

.nornen_content_type03>.list>li{
    width: 94%;
    padding: 25px 3%;
}

.nornen_content_type03>.list>li>h3{
    font-size: 100%;
    color: #34495e;
    margin-bottom: 15px;
}

.nornen_content_type03>.list>li>a{
    font-size: 87.5%;
    color: #bbbbbb;
}

.nornen_content_type03>.list>li>a:hover{
    color: #767676;
}



.nornen_content_type02{
    width: 94%;
    padding: 40px 3%;
    min-height: 550px;
}

.nornen_content_type02>header{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

.nornen_content_type02>header>h2{
    color: #34495e;
    font-size: 125%;
    margin-left: 15px;
}

.nornen_content_type02>.content{
    width: 100%;
}

.nornen_content_type02>.content>li{
    width: 96%;
    padding: 20px 2%;
}

.nornen_content_type02>.content>li>h3{
    font-weight: normal;
    color: #4e4e4e;
    font-size: 93.75%;
}

.nornen_content_type02>.content>li>.image{
    width: 98%;
    max-width: 320px;
    margin: 10px 1%;
}

.nornen_content_type02>.content>li>.image>img {
    width: 100%;
}

.nornen_content_type02>.content>li>.image>video{
    width: 100%;
    display: none;
    background: #000;
    border-radius: 10px;
}
.nornen_content_type02>.content>li>h3>a{
    color: #7f7f7f;
}

.nornen_content_type02>.content>li>h3>a:hover{
    color: #4e4e4e;
}

.nornen_content_type02>.content .link{
    text-align: center;
    width: 100%;
    max-width: 320px;
}

.nornen_content_type02>.content .link>a{
    font-size: 87.5%;
    color: #34495e;
}

.nornen_content_type02>.content .link>a:hover{
    color: #0d0e0e;
}

.nornen_content_type02>.content>li.video{

}

.nornen_content_type02>.content>li.video>h3{
    font-size: 93.75%;
    margin: 15px 0;
    font-weight: bold;
}

.nornen_content_type02>.content>li.video>video{
    width: 100%;
}


.nornen_content_type015{
    width: 94%;
    padding: 40px 3%;
    min-height: 850px;
}

.nornen_content_type015>header{
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
}

.nornen_content_type015>header>h2{
    color: #34495e;
    font-size: 125%;
    margin-left: 15px;
}


.nornen_content_type015>.left{
    width: 90%;
    margin: 30px 5%;
}

.nornen_content_type015>.left>canvas{
    border: 1px solid #bbbbbb;
    max-width: 512px;
    width: 100%;
}

.nornen_content_type015 .selector{
    width: 100%;
    margin-top: 20px;
    min-height: 200px;
}

.nornen_content_type015 .selector>.quality_type{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.nornen_content_type015 .selector>.quality_type>.list{
    width: 100%;
    height: 20px;
}

.nornen_content_type015 .selector>.quality_type>.list>li{
    width: 10%;
}

.nornen_content_type015 .selector>li{
    float: left;
    width: 50%;
}

.nornen_content_type015 .selector>li>h3{
    font-size: 100%;
    color: #1a1a1a;
}

.nornen_content_type015 .selector>li>h3>img{
    width: 21px;
    height: 21px;
    float: left;
    margin-right: 8px;
}

.nornen_content_type015 .selector>li>h3>span{
    float: left;
    height: 21px;
    line-height: 23px;
}

.nornen_content_type015 .selector>li>.list{
    float: left;
    padding: 10px 2%;
    width: 86%;
    height: 40px;
    line-height: 40px;
}

.nornen_content_type015 .selector>li>.list>li{
    cursor: pointer;
    float: left;
    width: 32%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.nornen_content_type015 .selector>li>.list>li:hover{
    color: #34495e;
}

.nornen_content_type015 .selector>li>.list a{
    color: #cccccc;
    cursor: pointer;
    font-size: 93.75%;
    padding: 0 5%;
}

.nornen_content_type015 .selector>li>.list a.active{
    color: #34495e;
}

.nornen_content_type015 .selector>li>.list a:hover{
    color: #34495e;
}

/* netslider start */
.is_clickable {
    cursor: hand;
    cursor: pointer;
}
.nstSlider {
    cursor: hand;
    cursor: pointer;
    position: relative;
    width: 90%;
    border: 1px solid #e6ecec;
    height: 50px;
    margin: 10px 10% 10px 0;
}
.nstSlider .leftGrip.gripHighlighted {
    background: #113344;
}
.nstSlider .rightGrip.gripHighlighted {
    background: #113344;
}
.nstSlider .rightGrip,
.nstSlider .leftGrip {
    position: absolute;
    top: -1px;
    width: 40px;
    height: 50px;
    background: #34495e;
    border: 1px solid #808080;
    opacity: .6;
}
.nstSlider .bar {
    position: absolute;
    background: url("../image/slider.png") repeat-x;
    height: 50px;
    opacity: .7;
    left: 0 !important;
}

.nstSlider .highlightPanel {
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    background: #e87722;
    height: 20px;
    top: 0;
}
/* netslider finish */

.nornen_content_type015 .slider_wrap{
    height: 60px;
    margin-bottom: 30px;
}

.nornen_content_type015 .slider{
    margin-bottom: 40px;
}


.nornen_content_type015 .slider>.title{
    width: 200px;
}

.nornen_content_type015 .slider>.title>img{
    margin: 15px 5px;
    float: left;
}

.nornen_content_type015 .slider>.title>span{
    font-size: 75%;
    color: #34495e;
    line-height: 50px;
}

.nornen_content_type015>.right{
    width: 90%;
    margin: 30px 5%;
}

.nornen_content_type015>.right>li{
    width: 100%;
    margin-bottom: 20px;
}

.nornen_content_type015>.right>li:nth-child(2){
    margin-top: 40px;
}

.nornen_content_type015>.right>li>div{
    width: 100%;
    height: 250px;
}

.nornen_content_type015>.right>li>span{
    font-size: 75%;
    color: #34495e;
}


.axis_type, .axis_slider {
    display: none;
}

.mobile_chart{
    width: 100%;
    height: 90px !important;
    overflow-y: scroll;
    border: 1px solid #34495e;
}

.mobile_chart p{
    font-size: 75%;
    color: #808080;
    padding: 7px 10px;
}

.mobile_chart p>span.cuda{
    color: #3366cc;
}

.mobile_chart p>span.png{
    color: #ff9900;
}

.mobile_chart p>span.jpeg{
    color: #dc3912;
}

.mobile_chart p>span.fps{
    color: #3366cc;
}

.cuda_rect{
    width: 10px;
    height: 10px;
    background: #3366cc;
    border-radius: 4px;
    border: 0px;
    outline: 0px;
}

.jpeg_rect{
    width: 10px;
    height: 10px;
    background: #dc3912;
    border-radius: 4px;
    border: 0px;
    outline: 0px;
}

.png_rect{
    width: 10px;
    height: 10px;
    background: #ff9900;
    border-radius: 4px;
    border: 0px;
    outline: 0px;
}

.error_info{
    width: 92%;
    padding: 8px 2%;
    margin: 30px 2% 10px 2%;
    background: #4e0000;
    height: 50px;
}

.error_info>img{
    float: left;
    width: 50px;
    height: 50px;
}

.error_info>.text{
    width: 100%;
    color: #fff;
}

.error_info>.text>p{
    margin: 8px 0 0 60px;
    font-size: 75%;
}
