<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- Access DTO -->
		<typeAlias type="com.vrcs.debug.access.Uuid" alias="Uuid"/>
		<typeAlias type="com.vrcs.debug.access.Statistics" alias="Statistics"/>
		<!-- Data DTO -->
		<typeAlias type="com.vrcs.debug.data.Data" alias="Data"/>
		<typeAlias type="com.vrcs.debug.data.DataFilter" alias="DataFilter"/>
		<!-- Volume DTO -->
		<typeAlias type="com.vrcs.debug.volume.Volume" alias="Volume"/>
		<typeAlias type="com.vrcs.debug.volume.VolumeFilter" alias="VolumeFilter"/>
	</typeAliases>
</configuration>