<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="volume">

    <insert id="insert" parameterType="Volume">
        INSERT INTO        
          `volume`
          ( `name`, `url`, `imagePn`, `videoPn`, `volumePn`)
        VALUES
          ( #{name}, #{url}, #{imagePn}, #{videoPn}, #{volumePn} )
    </insert>
    
    <update id="update" parameterType="Volume">
        UPDATE
          `volume`
        SET
          `name` = #{name},
          `url` = #{url},
        WHERE
          `pn` = #{pn}
    </update>
    
    <delete id="delete" parameterType="Volume">
        DELETE FROM
          `volume` 
        WHERE
          `pn` = #{pn}
    </delete>
    
    <select id="one" parameterType="Integer" resultType="Volume">
        SELECT
          `pn`, `name`, `url`, `imagePn`, `videoPn`, `volumePn`
        FROM
          `volume`
        WHERE
          `pn` = #{value}
    </select>
    
    <select id="list" parameterType="VolumeFilter" resultType="Volume">
        SELECT
          `pn`, `name`, `url`, `imagePn`, `videoPn`, `volumePn`
        FROM
          `volume`
        LIMIT #{pagination.itemSeqBegin}, #{pagination.numItemsPerPage}
    </select>
    
    <select id="count" parameterType="VolumeFilter" resultType="Integer">
        SELECT
          COUNT(*)
        FROM
          `volume`
    </select>
    
</mapper>